* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.up {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  border-bottom: 1px solid gold;
  display: flex;
  font-family: "Rye";
  font-size: 24px;
  justify-content: space-around;
  text-align: center;
}

h1{
  margin: 0 1em 0 1em;
}
 .market, .momlife, .resume-box, .writing, .midway {
  margin-bottom: 8em;
}
.knuckles {
  align-self: flex-start;
  height: 115px;
  margin: 10px 0 0 0;
  width: 125px;
}

.rose {
  height: 150px;
  width: 150px;
}
.up {
  justify-content: center;
}

a {
  color: #ec7063;
  text-decoration: none;
}

.nav {
  flex-direction: row;
  padding-top: 30px;
}

.nav>a {
  padding: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

body {
  align-items: center;
  background-color: black;
  background-size: cover;
  color: #a3e4d7;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  height: 125vh;
}
.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hi {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4em;
}

.intro {
  margin: 3em 3em 1em 2em;
  width: 85%;
}
.midway {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.blurb {
  align-items: center;
  border: 1px solid gold;
  display: flex;
  height: 150px;
  text-align: center;
  width: 35%;
}

.over {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.profile-pic {
  height: 190px;
  margin: 0 0 1em 0;
  width: 150px;
}
.design2 {
  display: none;
  height: 4em;
  margin-left: 8em;
  width: 4em;
}
.design1 {
  display: none;
  height: 4em;
  margin-left: 8em;
  width: 4em;
}

.midway {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.cool {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}
.cool-links {
  border: 1px solid gold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Rye";
  justify-content: center;
  margin: 2em 2em 4em 2em;
  width: 60%;
}

.cl {
  align-items: center;
  font-family: "Rye";
  margin: 10px 0 10px 0;
}
a:hover {
  color: pink;
}

h3 {
  color: orange;
}

#persp {
  color: orange;
  margin-bottom: 10px;
}

.mar {
  font-family: "rye";
  font-size: 24px;
  margin-bottom: 1em;
  margin-top: 2em;
  text-align: center;

}

.ket {
  height: 3em;
  width: 18em;
}
.market {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

.market1 {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.market2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2em;
  text-align: center;
}
.market2 > p {
  border-bottom: 2px solid orange;
  border-top: 2px solid orange;
  padding: 1em;
  width: 250px;
}
.mark {
  height: 150px;
  margin: 1em;
  width: 150px;
}

.resume-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding: 2.5em;
}

.pp {
  font-family: "Ewert", cursive;
  font-size: 50px;
}
.back {
  background: #ec7063;
  border-radius: 30%;
  color: black;
  font-family: cursive;
  padding: 5px;
}
.bk {
  margin-top: 2em;
}

span {
  color: orange;
  font-style: italic;
  font-size: 24px;
}
 .one {
   margin-bottom: 10px;
 }

 .resume-top>p {
   text-align: center;
   color: #F8C471;
 }

p {
  line-height: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
   text-align: center;
   color: magenta;
 }

 h5 {
   color: magenta;
   margin: 5px 0 5px 0;
}

.job {
  margin: 10px 0 5px 0;
}
.momlife {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}
.mom1 {
  display: flex;
  flex-direction: column;
}

.mom2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.mom2 > p {
  align-items: center;
  border-bottom: 2px solid orange;
  border-top: 2px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  text-align: center;
  width: 250px;
}

.momvid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mom {
  height: 250px;
  width: 187.5px;
  margin: 1em;
}
.writing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.writing > p {
  margin: 2em 5em 2em 5em;
text-align: center;
  width: 45%;
}
/* Styles for writing samples */

.aw {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  border: none;
}
 .topper {
   height: 3em;
   width: 20em;
 }

 .aw1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 3em;
   margin-right: 3em;
 }

.aw2 {
  display: flex;
  justify-content: center;
}
/* Display Tablet & Desktop */

@media screen and (min-width: 800px) {


  .design2 {
    display: block;
    width: 4em;
    height: 4em;
    margin-left: 8em;
}

.design1 {
  display: block;
  width: 4em;
  height: 4em;
  margin-left: 8em;
}

.hi {
  display: flex;
  flex-direction: row;
}
.over {
  order: 1;
}
.profile-pic {
  margin: -5px 6em -5px 0;
}
.intro {
  order: -1;
}
.aside {
  order: -2;
}
}

@media screen and (min-width: 1100px) {
  main {
    width: 1100px;
    margin: 0;
  }
}
